.bookmark_service img
{
	border: none !important;
	vertical-align: middle !important;
}

.bookmark_service
{
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

.bookmark_services p
{
	line-height: 1.5em;
}

.bookmark_services .bookmark_service
{
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}

.bookmark_dropdown
{
	display: none;
	width: 138px;
	z-index: 1000;
	position: absolute !important;
	border: solid 1px DimGray !important;
	background: White !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.bookmark_table
{
	width: 200px;
}

.bookmark_table table
{
	width: 100%;
	border-collapse: collapse;
	border: 0px;
}